# Ignore data sets and results
# Adjust these patterns to match where you store large datasets or outputs

# Results / output folders
results/

data.zip

# Cache, virtualenv, python artifacts
__pycache__/
*.py[cod]
*.so
*.egg-info/
venv/
env/
ENV/
.venv/

# Byte-compiled / distribution
build/
dist/

# Jupyter
.ipynb_checkpoints

# OS files
.DS_Store

# Editor directories
.vscode/
.idea/

# Temporary files
*.log
*.tmp
extern/halo_config.py

*.mp4
./experiments/data_b/exp_b1_s01_normal_normal.mp4